body {
    margin: 0;
}


#landingPage{
    height: 55vh;
    width: auto;
    background-image: url(images/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    position: relative;
    overflow: hidden;

}

#websitetitle{
    position: absolute;
    font-family: Helvetica;
    font-size: 72px;
    color: white;
    bottom: 10%;
    left: 5%;
}

#articlesGallery{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(212, 212, 212);
    width: 100%;
    min-height: 450px;
    padding-bottom: 75px;
    justify-content: center;
    align-items: center;
}



.Article {
    margin: 2px;
    border: 1px solid #ccc;
    width: 350px;
    height: 350px;
    transition: all 200ms ease-in-out;
    position: relative;
    background-color: black;
}

.image{
    width: 100%;
    height: 100%;

}

.OverlayTitle{
    color: white;
    text-align: left;
    margin-left: 11px;
    margin-top: 2px;
    font-family: "Helvetica";
    font-size: 54px;

}

.OverlayDesc{
    color: white;
    text-align: center;
    font-family: "Helvetica";
    font-size: 24px;
    position: absolute;
    bottom: 0;
    width: 100%;

}
    
.OverlayInfo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 200ms ease-in-out;
    
}


.Article:hover .image {
    opacity: 0.5;
  }
  
.Article:hover .OverlayInfo {
    opacity: 1;
  }


#menue{
    height: 100px;
    width: 100%;
    background-color: black;
    font-family: Helvetica;
    font-size: 15px;
    position: relative;
    color: white;
}

